body{
    font-family: Arial, Verdana;
    color: #ffffff;
    background-color: #000000;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 0px;
    /* margin: 20 px 20px 0px 20px; can do this also*/
}

h1{
    font-size: 42px;
    padding: 15px;
    text-align: center;
}

h2{
    font-size: 30px;
    color: #0D0D0D
}

p {
    font-size:24px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 0px;
    padding-bottom: 0px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    border: 10px dashed white;;
}

div{
    min-height: 125px;
    padding: 20px;
    border: 3px white solid;
}

.introduction{
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    line-height:2;
}

.red{
    background-color: #FF0000;
    text-align:right;
    margin-left: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    border-bottom: 2px solid;
    border-left: 5px solid;
    border-top: 0px;
    border-right: 0px;
}


.blue{
    background-color: blue;
    text-align: left;
    margin-right: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    border-right:5px solid;
    border-top: 2px solid;
    border-bottom: 0px;
    border-left: 0px;
}
.blue h2{
    color: #C4C4C4;
}

.blue p{
    color: #C4C4C4;
}

.yellow{
    background-color: yellow;
    text-align: right;
    margin-left: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    border-bottom: 2px solid;
    border-left: 5px solid;
    border-top: 0px;
    border-right: 0px;
}

.yellow p{
    color: #707070
}

.green{
    background-color: #008500;
    text-align:left;
    margin-right :50px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    border-right: 5px solid;
    border-top: 2px solid;
    border-bottom: 0px;
    border-left: 0px;
}

footer{
    background: linear-gradient(0deg, #000000, #0000ff 25%, #0066ff 70%, #000000);
    border: 5px solid white;
    font-size: 20px;
    text-align: right;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 0px;
}